<div> Item: <%= @costume.costume_type %></div><br />
<div> Era: <%= @costume.era %></div><br />
<div> material: <%= @costume.material %></div><br />
<div> color: <%= @costume.color %></div><br />
<div> Shop location: <%= @costume.location %></div><br />
<div> Description: <%= @costume.description %></div><br />

<div> <%= link_to 'edit this costume piece', edit_costume_path%><br>
<%=link_to "delete this costume", costume_path, :method=>'destroy'%><br>
<%= link_to 'Costumes home', costumes_path%><br>