<div> Title: <%= @production.title %></div><br />

<div> Costume Designer: <%= @production.user.username%></div><br />
<% theatre = @theatres.find_by id: (@production.theatre_id) %>
<div> Theatre:  <%= theatre.name %>
<% @production.costumes.each do |c| %>
    <li><%= c.color + " " + c.material + " " + c.costume_type + " Shop location: " + c.location%></li>
    <%end%>
 <div> <%= link_to 'edit this production', edit_production_path%><br>
 <%=link_to "delete this production", production_path, :method=>'delete'%><br>
 <%= link_to 'Productions home', productions_path%><br>


